# Database
DATABASE_URL="postgres://user:password@hostname:5432/database?sslmode=require"

GITHUB_APP_ID=1926031
GITHUB_APP_SLUG=echo-merit-ranker
GITHUB_APP_PRIVATE_KEY=""

# Supabase (Service role key is required for server-side upserts)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_PASSWORD=
SUPABASE_PROJECT_REF=

# Webhooks & State
GITHUB_WEBHOOK_SECRET=
GITHUB_APP_STATE_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3001

NEXT_PUBLIC_ECHO_APP_ID=51cf5df5-4201-41cf-80ed-0ef3b7ab586f
